table {
  border-collapse: collapse;
  border: 1px solid #000000;
}

th, td {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #EEEEEE}
tr:nth-child(odd){background-color: #E0E0E0}

th {
    background-color: #212121;
    color: white;
}